<h1 class="text-center">Statistics per week</h1>
<div class='row'>
  <div class='col-md-6'>
    <h3 class="text-center">Card actions</h3>
    <%= pie_chart card_actions_statistics_path %>
  </div>
  <div class='col-md-6'>
    <h3 class="text-center">Results review cards per day</h3>
    <%= line_chart results_review_cards_statistics_path, stacked: true, ytitle: "Results" %>
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <h3 class="text-center">Visits per day</h3>
    <%= line_chart visits_per_day_statistics_path %>
  </div>
  <div class='col-md-6'>
    <h3 class="text-center">Login type</h3>
    <%= line_chart login_type_statistics_path, stacked: true %>
  </div>
</div>
<div class='row'>
  <div class='col-md-12'>
    <h3 class="text-center">Visits from countries</h3>
    <%= geo_chart Visit.group(:country).count, label: "Visits" %>
  </div>
</div>
