<%= simple_form_for card do |f| %>
  <div class="form-group">
    <%= f.input :original_text,  as: :text,
                input_html: { class: 'form-control', required: true,
                              autofocus: true } %>
  </div>

  <div class="form-group">
    <%= f.input :translated_text,  as: :text,
                input_html: { class: 'form-control', required: true } %>
  </div>

  <div class="form-group">
    <%= f.file_field :image, class: "filestyle", 'data-buttonText' => t(:card_image) %>
  </div>

  <div class="form-group">
    <%= f.input :block_id, collection: current_user.blocks.all.order('title'),
                      input_html: { class: 'form-control', required: true } %>
  </div>

  <% if card.image? %>
    <div class="form-group">
      <%= f.input :remove_image, as: :boolean %>
      <div class="row">
        <div class="col-xs-6 col-md-4 card_image">
          <p class="thumbnail">
            <%= image_tag card.image_url %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

  <%= f.button :submit, class: 'btn btn-default' %>
<% end %>
