<h2><%= t('change_password') %></h2>
<%= simple_form_for current_user do |f| %>
  <div class="form-group">
    <%= f.input :password, as: :password,
                input_html: { class: 'form-control', required: true } %>
  </div>
  <div class="form-group">
    <%= f.input :password_confirmation, as: :password,
                input_html: { class: 'form-control', required: true } %>
  </div>
  <%= f.button :submit, class: 'btn btn-default' %>
<% end %>
